HF_TOKEN=your_huggingface_token

# Modèle détection urgence
URGENCY_MODEL=LLM URGENCY_MODEL

# Modèle analyse sentiment
SENTIMENT_MODEL=
# Modèle détection urgence
URGENCY_MODEL=f


# Taille maximale d'un avis
MAX_TEXT_LENGTH=1000


# Seuil confiance urgence
URGENCY_THRESHOLD=0.80
